<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="RegistrationForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label for="agent_id">Agent ID</label>
                  <input type="text" class="form-control" id="agent_id" formControlName="agent_id">
                </div> -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control" id="userName" formControlName="userName">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password"  formControlName="password" tooltip="{{toolTipMsg}}">
                </div>

                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                  <div *ngIf="f.confirmPassword.errors.confirmedValidator">Passwords Don't Match</div>
                  <app-password-strength [passwordToCheck]="RegistrationForm.value.password" (passwordStrength)="passwordValid($event)"></app-password-strength>
                </div>

                <button type="button" class="btn btn-block btn-success" [disabled]="!passwordIsValid" (click)="register()">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
