<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg col-lg-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          Invalid {{GroupName}} Tickets
          <!-- <div class="card-header-actions" style="height: 15px;" [formGroup]="platforms">
            <select class="form-control" (change)="loadTicketsByPlatform()" formControlName="platform" *ngIf="platformList.length > 0">
              <option *ngFor="let p of platformList" value="{{p.id}}">{{p.name}}</option>
            </select>
          </div> -->
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th width="2%"></th>
              <th width="10%">Ticket ID</th>
              <th>Subject</th>
              <th>Created By</th>
              <th>Platform</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody *ngIf="unresolvedTicketsList.length > 0">
            <tr *ngFor="let ticket of unresolvedTicketsList | paginate: {itemsPerPage:5, currentPage: pageNum}">
              <td>
                <div class="btn-group dropdown" dropdown>
                  <span class="fa-chevron-down" dropdownToggle class="dropdown-toggle"></span>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="openUnresolvedTicketFormModal(ticket, unresolvedTicket)">Details</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>{{ ticket.ticketID }}</td>
              <td>{{ ticket.subject }}</td>
              <td>{{ ticket.firstName }}</td>
              <td>{{ ticket.platform }}</td>
              <td>{{ ticket.createdOn }}</td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageNum=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #unresolvedTicket>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Ticket Details</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="unresolvedTicketModalForm">
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Date</label>
            <input type="text" formControlName="createdOn" class="form-control"  readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Ticket ID</label>
            <input type="text" formControlName="id" class="form-control" readonly>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Subject</label>
        <input type="text" formControlName="subject" class="form-control" readonly>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Created By</label>
            <input type="text" formControlName="firstName" class="form-control" readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Status</label>
            <input type="text" formControlName="ActionPerformed" class="form-control" readonly>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
