<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="card card-accent-primary">
        <div class="card-header">{{GroupName}} Tickets</div>
        <div class="card-body table responsive">
          <table class="table table-hover">
            <thead>
            <th>Ticket ID</th>
            </thead>
            <tbody *ngIf="processingTicketList.length > 0 ">
            <tr *ngFor="let p of processingTicketList | paginate: { itemsPerPage:5, currentPage: pageNum}"
            (click)="getTicketInfo(p)">
              <td>{{ p.ticketID }}</td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageNum=$event"></pagination-controls>
        </div>
      </div>
    </div>

    <!--Ticket Information Card-->
    <div class="col-lg-8 col-md-8">
      <div class="card">
        <div class="card-header">
          Ticket Information
        </div>
        <div class="card-body">
          <tabset>
            <tab>
              <ng-template tabHeading><i class="icon-info"></i>Info</ng-template>
              <form [formGroup]="ticketInformationForm">
                <div class="row">
                  <div class="col-md-6">
                    <label>Ticket Status</label>
                    <div class="form-group">
                      <input type="text" class="form-control"  formControlName="ticketStatus" disabled>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Ticket ID</label>
                    <div class="form-group">
                      <input type="text" class="form-control"  formControlName="ticketID" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Date:</label>
                    <div class="form-group">
                      <input type="text" class="form-control"  formControlName="createdOn" disabled>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Subject</label>
                    <div class="form-group">
                      <input type="text" class="form-control"  formControlName="subject" disabled>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Created By</label>
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="firstName" disabled>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Platform</label>
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="platform" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Action Performed</label>
                    <div class="form-group">
                      <textarea class="form-control" formControlName="actionPerformed"></textarea>
                    </div>
                  </div>
                </div>
                <button class="btn btn-danger pull-right" data-toggle="modal" (click)="displayForm(oneTimePasswordModal)">Close Ticket</button>
                <div class="clearfix"></div>
              </form>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mark Ticket as Resolved Modal-->
<ng-template #markTicketResolvedModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Resolve Ticket</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="processingTicketFormModal">
    <div class="modal-body">
      <!-- Start of Ticket IDs: table ID and actual ticket ID -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Date</label>
            <input type="text" formControlName="createdOn" class="form-control" readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Ticket ID</label>
            <input type="text" formControlName="ticketID" class="form-control" readonly>
          </div>
        </div>
      </div>
      <!-- End of Ticket IDs: table ID and actual ticket ID -->

      <!-- Start of Ticket Information: ticket subject and subject information -->


      <div class="form-group">
        <label>Issue</label>
        <input type="text" formControlName="issue" class="form-control" readonly>
      </div>
      <!-- End of Ticket Information: ticket subject and subject information -->

      <!-- Start of Ticket Requester information: ticket requester and requested on date information -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Created By</label>
            <input type="text" formControlName="firstName" class="form-control" readonly>
          </div>
        </div>
      </div>
      <!-- Start of Ticket Requester information: ticket requester and requested on date information -->
      <div class="form-group">
        <label>Action Performed</label>
        <input type="text" formControlName="actionPerformed" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-pill btn-block btn-primary"
              (click)="openOneTimePasswordFormModal(oneTimePasswordModal)">Close Ticket</button>
    </div>
  </form>
</ng-template>

<!--One time password modal-->
<ng-template #oneTimePasswordModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter Your Support Staff Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="oneTimePassword" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="text" formControlName="oneTimePassword" class="form-control" placeholder="Enter your Secure Staff Key">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-pill btn-lg btn-success" (click)="resolveTicket()">Authenticate</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
