<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          New {{GroupName}} Tickets
          <!-- <div class="card-header-actions" style="height: 15px;" [formGroup]="platforms">
            <select class="form-control" (change)="loadTicketByPlatform()" formControlName="platform" *ngIf="platformList.length > 0">
              Load tickets by platform
              <option *ngFor="let platform of platformList" value="{{platform.id}}">{{platform.name}}</option>
            </select>
          </div> -->
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-striped table-hover">
            <thead>
            <tr>
              <th width="2%"></th>
              <th width="10%">Ticket ID</th>
              <th>Subject</th>
              <th>Created By</th>
              <th>Platform</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody *ngIf="ticketList.length > 0">
            <tr *ngFor="let ticket of ticketList | paginate: {itemsPerPage: 10, currentPage: pageNum}"> <!-- Pagination button-->
              <td>
                <!-- Dropdown button-->
                <div class="btn-group dropdown" dropdown>
                  <span class="fa-chevron-down" dropdownToggle class="dropdown-toggle"></span>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="openTicketMailerFormModal(ticket, sendTicketMail)">Respond to Ticket</a>
                      <a class="dropdown-item" (click)="openTicketResponseFormModal(ticket, respondToTicketModal)">Mark as Invalid</a>
                    </li>
                  </ul>
                </div>
              </td>
              <!-- Ticket Data -->
              <td> {{ ticket.ticketID }} </td> <!-- Ticket id -->
              <td> {{ticket.subject}} </td> <!-- Ticket Subject -->
              <td> {{ticket.firstName}} </td> <!-- Ticket CreatedBy -->
              <td> {{ticket.platform}} </td> <!-- Ticket Platform -->
              <td> {{ticket.createdOn}} </td> <!-- Ticket Date -->
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageNum=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Respond to ticket Modal-->
<ng-template #respondToTicketModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Mark Ticket as Invalid</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="ticketModal">
    <div class="modal-body">
      <!-- Start of Ticket IDs: table ID and actual ticket ID -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Date</label>
            <input type="text" formControlName="createdOn" class="form-control" readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Ticket ID</label>
            <input type="text"  formControlName="ticketID" class="form-control" readonly>
          </div>
        </div>
      </div>
      <!-- End of Ticket IDs: table ID and actual ticket ID -->

      <!-- Start of Ticket Information: ticket subject and subject information -->


      <div class="form-group">
        <label>Issue</label>
        <input type="text" formControlName="issue" class="form-control" readonly>
      </div>
      <!-- End of Ticket Information: ticket subject and subject information -->

      <!-- Start of Ticket Requester information: ticket requester and requested on date information -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Created By</label>
            <input type="text" formControlName="firstName" class="form-control" readonly>
          </div>
        </div>

        <!-- <div class="col">
          <div class="form-group">
            <label>Date</label>
            <input type="text" formControlName="createdOn" class="form-control" readonly>
          </div>
        </div> -->
      </div>
      <!-- Start of Ticket Requester information: ticket requester and requested on date information -->
      <div class="form-group">
        <label>Action Performed</label>
        <input type="text" formControlName="actionPerformed" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-pill btn-block btn-primary" (click)="openOneTimePasswordFormModal(oneTimePasswordModal)">Mark as Invalid</button>
    </div>
  </form>
</ng-template>


<!--Send Mail Modal-->
<ng-template #sendTicketMail>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Respond to Ticket</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="ticketSupportMail">
    <div class="modal-body">
      <!-- Start of Ticket IDs: table ID and actual ticket ID -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Date</label>
            <input type="text" formControlName="createdOn" class="form-control" readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Ticket ID</label>
            <input type="text" formControlName="TicketID" class="form-control" readonly>
          </div>
        </div>
      </div>
      <!-- End of Ticket IDs: table ID and actual ticket ID -->

      <!-- Start of Ticket Information: ticket subject and subject information -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Subject</label>
            <input type="text" formControlName="Subject" class="form-control" readonly>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>File</label>
            <a (click)="viewFile()" target="_blank">
              <button class="btn btn-block btn-outline-primary">View File</button>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Issue</label>
            <textarea class="md-textarea form-control" formControlName="issue" mbinput style="height: 104px; margin-top:0; margin-bottom: 0;" type="text" readonly></textarea>
          </div>
        </div>
      </div>
      <!-- End of Ticket Information: ticket subject and subject information -->

      <!-- Start of Ticket Requester information: ticket requester and requested on date information -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Created By</label>
            <input type="text" formControlName="firstName" class="form-control" readonly>
          </div>
        </div>
      </div>
      <!-- Start of Ticket Requester information: ticket requester and requested on date information -->
      <div class="form-group">
        <label>Type Your Message</label>
        <textarea class="md-textarea form-control" formControlName="Message" mbinput style="height: 104px; margin-top:0; margin-bottom: 0;" type="text"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-pill btn-block btn-primary" (click)="sendMail()">Send Mail</button>
    </div>
  </form>
</ng-template>

<!--One time password modal-->
<ng-template #oneTimePasswordModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter Your Secure Support Staff Key</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="oneTimePassword" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="text" formControlName="oneTimePassword" class="form-control" placeholder="Enter your Secure Staff Key">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-pill btn-lg btn-success" (click)="markTicketInvalid()">Authenticate</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
