<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-12">
      <tabset>
        <tab heading="Overview">
          <div class="row">
            <div class="col-sm-6 col-lg-12">
              <div class="card">
                <div class="card-header">Dashboard Overview</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4 class="card-title mb-0 text-muted">Highest Hitting Subject</h4>
                    </div>
                    <div class="col-sm-7 d-none d-md-block">
                      <button type="button" class="btn btn-primary float-right" tooltip="Generate Report" placement="auto">
                        <i class="icon-cloud-download"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="chart">
                    <!-- chart goes here -->
                    <canvas id="canvas">{{ chart }}</canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4 class="card-title mb-0 text-muted">Ticket Summaries</h4>
                    </div>
                    <div class="col-sm-7 d-none d-md-block">
                      <button type="button" class="btn btn-primary float-right" tooltip="Generate Report" placement="auto">
                        <i class="icon-notebook"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-primary">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div>Total Tickets Recorded</div>
                          <div class="text-value">{{tickets}}</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-success">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div>Total Tickets Processing</div>
                          <div class="text-value">{{processing}}</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-warning">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div>Total Tickets Unresolved</div>
                          <div class="text-value">{{newTickets}}</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-info">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div>Total Tickets Resolved</div>
                          <div class="text-value">20</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-5">
                      <h4 class="card-title mb-0 text-muted">Platform Summaries</h4>
                    </div>
                    <div class="col-sm-7 d-none d-md-block">
                      <button type="button" class="btn btn-primary float-right" tooltip="Generate Report" placement="auto">
                        <i class="icon-notebook"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-primary">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div>Total Number of Platforms</div>
                          <div class="text-value">{{platforms}}</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-success">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div>Highest Recording Platform</div>
                          <div class="text-monospace">{{highestPlatform}}</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-warning">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div class="text-value">20</div>
                          <div>Total Tickets Recorded</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="card text-white bg-info">
                        <div class="card-body pb-0">
                          <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-location-pin"></i>
                          </button>
                          <div class="text-value">20</div>
                          <div>Total Tickets Recorded</div>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
