<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">Resolved {{GroupName}} Tickets</div>
          <div class="card-body">
            <table class="table table-responsive-sm table-striped">
              <thead>
              <tr>
                <th width="2%"></th>
                <th width="10%">Ticket ID</th>
                <th width="10%">Subject</th>
                <th width="10%">Date</th>
                <th width="10%">Signature</th>
              </tr>
              </thead>
              <tbody *ngIf="resolvedTicketList.length > 0">
              <tr *ngFor="let t of resolvedTicketList">
                <td>
                  <div class="btn-group dropdown" dropdown>
                    <span class="fa-chevron-down" dropdownToggle class="dropdown-toggle"></span>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem">
                        <a class="dropdown-item" (click)="openResolvedTicketFormModal(t, openResolvedTicketModal)">Details</a>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>{{ticketIDPre}}{{t.id}}</td>
                <td>{{t.subject}}</td>
                <td>{{t.resolvedOn}}</td>
                <td>{{t.SupportStaff}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #openResolvedTicketModal>
    <div class="modal-header">
      <h5 class="modal-title pull-left">Ticket Details</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="resolvedTicketModal">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Ticket ID</label>
              <input type="text" formControlName="id" class="form-control"  readonly>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Date</label>
              <input type="text" formControlName="date" class="form-control"  readonly>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Subject</label>
          <input type="text" formControlName="subject" class="form-control" readonly>
        </div>

        <div class="form-group">
          <label>Action Performed</label>
          <input type="text" formControlName="actionPerformed" class="form-control" readonly>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Signature</label>
              <input type="text" formControlName="resolvedBy" class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
